@import "client/todo-play.import.less";


p.tdp_edit-text {
  margin-right: 1.7em;
}

p.tdp_edit-freq > input {
  width: 50%;
  display: inline-block;
}

p.tdp_edit-text {
  & > input {
    height: 45px;
    font-size: 2em;
  }
}

input#private {
  vertical-align: bottom;
  position: relative;
  bottom: 3px;

}


div.tdp_ticked {
  text-decoration: line-through;
}

div#main-pane {
  @media (max-width: @screen-sm-max) {
    padding-left: 0px;
    padding-right: 0px;
  }
}

div.tdp_item-list {
  @media (max-width: @screen-sm-max) {
    padding-left: 0px;
    padding-right: 0px;
  }
  margin-bottom: 10px;
  & > ul {
    list-style-type: none;
    list-style-position: outside;
    padding: 0px;
    margin-bottom: 0px;
  }
}

div.tdp_add-item {
  width: 100%;
  & > input {
    width: 100%;
    margin: 0px;
    padding: 2px 5px;
    height: 3em;
    border: 1px solid #555;

  // Overlap the first item with inputs border, put the input to the front.
    margin-bottom: -1px;
    position: relative;
    z-index: 10;
  }
}

li.tdp_item {
  z-index: 0;
  height: 3em;
  border: 1px solid #999;
  border-left: 0px solid @pastel-green;
  margin-bottom: -1px;
position: relative;
  padding-left: 10px;
  padding-right: 20px;
  background-color: white;
  overflow: hidden;
  width: 100%;
  cursor: move;
  &:hover {
    background-color: #DDD;
    background: linear-gradient(176deg, #EEEEEE, #FFF, #CECECE);
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    border-right: 1px solid #555;
    z-index: 10;
    position: relative;
  }
}


li > div.tdp_item-text {
  height: 3em;
  display: table-cell;
  vertical-align: middle;
}

li > div.tdp_item-checkbox {
  position: absolute;
  left:0px;
  width: 5px;
  height: 100%;
  background-color: @pastel-green;
}

li > div.tdp_edit-item {
  cursor: default;
  position: absolute;
  right: 10px;
  top: 0.9em;
  height: 1em;
}

div.tdp_list-h1 {
  text-align: center;
  & > h1 {
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    & > span {
      font-size: 0.7em;
    }
  }
}


//typeahead (this is currently only used in tags)

/* basic typeahead styles */
//.typeahead,
.tt-query,
.tt-hint {
  font-size: 24px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}
.typeahead {
  background-color: #fff;
}
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
  color: #999
}
.tt-dropdown-menu {
  width: 300px;
  margin-top: 3px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}
.tt-suggestion p {
  margin: 0;
}

